In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/Users/GoriPNEUMA/Desktop/Jet Drive/PERSONAL DEVELOPMENT/The Data Science Course 2020 - All Resources/Part_5_Advanced_Statistical_Methods_(Machine_Learning)/S32_L187/1.01. Simple linear regression.csv")

In [3]:
data

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [1]:
print("Sample")

Sample

In [2]:
d = 25

In [3]:
d

25